*,
*::before,
*::after {
  box-sizing: border-box;
}

a:link {
  color: unset;
  text-decoration: none;
}

a:visited {
  color: unset;
}

body {
  margin: 0px;
}

.router-wrapper {
  height: calc(100vh - 45px);
  width: 100vw;
  overflow: hidden;
  display: flex;
  position: relative;
}

.router-wrapper > * {
  flex-grow: 1;
}

/* Hide scrollbar */
*::-webkit-scrollbar { /* Chrome */
  display: none;
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
