*,
*::before,
*::after {
  box-sizing: border-box;
}

a:link {
  color: unset;
  text-decoration: none;
}

a:visited {
  color: unset;
}

body {
  margin: 0px;
}


/* Hide scrollbar */
*::-webkit-scrollbar { /* Chrome */
  display: none;
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
