.profile-dropdown {
  position: absolute;
}

nav {
  background-color: steelblue;
  height: 50px;
  width: 100%;
  z-index: 998;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.user-navigation-buttons {
  display: flex;
}
