.profile-dropdown {
  position: absolute;
}

nav {
  background-color: steelblue;
  height: 60px;
  width: 100%;
  z-index: 998;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.user-navigation-buttons {
  display: flex;
  width: 250px;
  justify-content: space-around;
}

div.user-navigation-buttons button {
  background-color: unset;
  border: none;
  color: white;
  font-size: larger;
  font-weight: bolder;
}

div.user-navigation-buttons button:focus {
  outline: none;
}

div.user-navigation-buttons button:hover {
  cursor: pointer
}

button.new-event-button {
  position: absolute;
  left: 663px;
  height: 30px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  background-color: white;
  color: steelblue;
  border: none;
  font-weight: bolder;
  font-size: 13.33333333px;
}

button.new-event-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px white;
}

button.new-event-button:focus {
  outline: none;
}

button.new-event-button:active {
  left: 664px;
  height: 28px;
  width: 73px;
}
