.profile-dropdown {
  position: absolute;
}

nav ul {
  margin: 0px;
  list-style-type: none;
}

nav {
  background-color: steelblue;
  height: 60px;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
}
