nav {
  background-color: steelblue;
  height: 60px;
  width: 100%;
  z-index: 998;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.user-navigation-buttons {
  display: flex;
  width: 300px;
  justify-content: space-around;
}

div.navigation-container-left button {
  background-color: unset;
  border: none;
  color: white;
  font-size: 25px;
  font-weight: bolder;
}

div.navigation-container-left button:focus {
  outline: none;
}

div.navigation-container-left button:hover {
  cursor: pointer
}

button.new-event-button {
  position: absolute;
  left: 663px;
  height: 30px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  background-color: white;
  color: steelblue;
  border: none;
  font-weight: bolder;
  font-size: 13.33333333px;
}

button.new-event-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px white;
}

button.new-event-button:focus {
  outline: none;
}

button.new-event-button:active {
  left: 664px;
  height: 28px;
  width: 73px;
}

div.navigation-container-left {
  width: 300px;
  height: 60px;
  display: flex;
  align-items: center;
}

#modal-content.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#modal-content.about .about-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(192, 211, 214);
  font-size: 130px;
}

#modal-content.about .about-icon-container a {
  max-height: 130px;
}

#modal-content.about .about-icon-container:hover {
  color: white;
}

button#about-me-display {
  display: flex;
  align-items: center;
  font-size: x-large;
}

div.about-links-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.about-description-container {
  text-align: center;
}

div.notification-container {
  transition: all 0.4s;
  position: absolute;
  background-color: white;
  padding: 20px;
  z-index: 999;
  box-shadow: 0px 0px 5px #4682b4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: min-content;
  max-height: 500px;
  overflow-y: auto;
  top: 45px;
}

div.notif-container {
  transition: all 0.3s;
  overflow: hidden;
  position: relative;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  border: 2px solid steelblue;
  text-align: left;
}

div.notif-container:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px steelblue;
}

div.notif-sender-container {
  font-weight: bolder;
  font-size: 20px;
  color: steelblue;
  min-height: 25px;
  max-height: 25px;
}

div.notif-content-container {
  font-size: large;
  max-height: 100px;
  overflow-y: auto;
}

form.quick-reply-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  height: 40px;
  transition: all 0.3s;
  left: 0px;
  border-top: 1px solid darkgrey;
}

form.quick-reply-container input {
  width: 500px;
  height: 100%;
  border: none;
}

form.quick-reply-container input:focus, form.quick-reply-container button:focus {
  outline: none;
}

form.quick-reply-container button {
  height: 100%;
  width: 50px;
  color: steelblue;
  background-color: white;
  border-left: 1px solid darkgrey;
}

.counter-bauble {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  min-height: 18px;
  max-height: 18px;
  min-width: 18px;
  max-width: 18px;
  background-color: red;
  color: white;
  font-weight: bolder;
  font-size: 14px;
}
