.profile-dropdown {
  color: white;
  z-index: 999;
  background-color: rgb(120, 173, 216);
  border-radius: 5px;
  padding: 10px;
  list-style-type: none;
  box-shadow: 0px 0px 5px darkgrey;
  position: absolute;
  left: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}

div.profile-pop-item.name {
  font-size: x-large;
  font-weight: bolder;
}

div.nav-button-container button.profile-dropdown-button {
  border-radius: 5px;
}
