#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  background-color:white;
  box-sizing: border-box;
  padding: 10px 40px;
  border-radius: 5px;
  width: 400px;
}

div.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.modal input {
  box-sizing: border-box;
  font-size: xx-large;
  width: 100%;
}

div.form-button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
