.event-modal-display-control-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.event-modal-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  height: min-content;
}

.event-modal-title-container {
  position: relative;
  padding: 0px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px darkgrey;
  width: 100%;
}

.event-modal-description-container {
  font-size: larger;
}

.event-modal-title-container > button {
  position: absolute;
  right: 10px;
  top: 10px;
}

.event-title-subcontainer {
  display: flex;
  align-items: center;
}

.event-title-subcontainer.upper img {
  margin-right: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

div.event-modal-comments-outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 5px darkgrey;
  padding: 10px;
  border-radius: 5px;
  width: 400px;
}

div.event-comment-container {
  overflow: hidden;
  position: relative;
  width: 350px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px darkgrey;
  display: flex;
}

div.event-comment-user-container {
  padding: 10px 15px;
}

div.avatar-container {
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: rgb(70, 130, 180);
  color: white;
  border-radius: 50%;
  overflow: hidden;
}

div.event-comment-body-container {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.event-comment-body-container p {
  text-align: justify;
}

div.edit-delete {
  align-self: flex-end;
  font-size: smaller;
  right: 5px;
  bottom: 5px;
  width: 32.5px;
  display: flex;
  justify-content: space-between;
}

div.edit-delete button {
  position: relative;
  background-color: unset;
  border: none;
  padding: 0px;
}

div.edit-delete button:active {
  outline: none;
}

div.edit-delete button:focus {
  outline: none;
}

div.edit-delete button:hover {
  bottom: 2px;
  cursor: pointer;
}

button.event-comment-edit:hover {
  color: steelblue;
}

button.event-comment-delete:hover {
  color: red;
}

form.comment-edit {
  display: flex;
  align-items: center;
  width: 100%;
}

textarea.comment-edit-input {
  flex-grow: 1;
}

button.comment-edit-submit {
  height: min-content;
}

div.delete-confirm-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

div.delete-confirm-container {
  text-align: center;
  width: 100%;
}

button.comment-edit-submit {
  height: 100%;
  background-color: none;
  background: none;
  border: none;
}

button.comment-edit-submit:active {
  outline: none;
}

button.comment-edit-submit:hover {
  color: white;
  background-color: steelblue;
  cursor: pointer;
}

div.comment-form-container {
  width: 350px;
}

div.comment-form-container form {
  display: flex;
  width: 100%;
  height: 25px;
  border-bottom: 1px solid darkgrey;
  margin-bottom: 10px;
}

div.comment-form-container input {
  border: none;
  flex-grow: 1;
}

div.comment-form-container input:focus {
  outline: none;
}

div.comment-form-container button {
  color: steelblue;
  background-color: unset;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

div.comment-form-container button:hover {
  cursor: pointer;
}

div.comment-form-container button:focus {
  outline: none;
}
