.event-summary-container {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px darkgrey;
  padding: 15px;
  box-sizing: border-box;
}

.event-summary-user-container {
  margin-right: 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  border-radius: 5px;
  height: min-content;
}

.event-summary-username {
  margin-bottom: 5px;
}

.event-summary-user-container img {
  border-radius: 50%;
}

.event-summary-body-container p {
  text-align: justify;
}

.event-summary-container h1,
.event-summary-container h2,
.event-summary-container h3,
.event-summary-container h4,
.event-summary-container h5,
.event-summary-container h6 {
  margin: 0px;
}

.event-summary-header-container {
  position: relative;
  min-height: 200px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px darkgrey;
  margin-bottom: 15px;
}

.event-summary-title-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.event-summary-presentation-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 400px;
  max-width: 667px;
}

.event-summary-footer-container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.event-summary-tags-outer-container, .event-summary-timestamp-container {
  display: flex;
  padding: 5px;
  border: 1px solid grey;
  align-items: center;
  height: min-content;
  border-radius: 5px;
}

.event-summary-tags-outer-container {
  max-width: 420px;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.event-summary-tags-inner-container {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.event-summary-attending-container {
  display: flex;
  align-items: center;
  font-size: larger;
  font-weight: bold;
}


.tag-wrapper {
  background-color: steelblue;
  color: white;
  font-weight: bolder;
  margin: 5px 0;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

button.event-detail-display, button.event-join-button {
  position: relative;
  background-color: steelblue;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  border: none;
  height: 30px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button.event-detail-display:focus, button.event-join-button:focus {
  outline: none;
}

button.event-detail-display:hover, button.event-join-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px darkgrey;
}

div.event-header-subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
