.home-container {
  position: relative;
  display: flex;
  height: calc(100vh - 60px);
  overflow: hidden;
}

.map-container {
  width: calc(100vw - 768px);
  right: 0;
}

div.map-pin-container {
  display: flex;
  position: relative;
}

div.map-pin-precise {
  position: absolute;
  background-color: #4682b4;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

div.map-pin {
  position: relative;
  top: 5px;
  left: 5px;
  font: 14px Roboto, Arial, sans-serif;
  font-weight: 700;
  text-decoration: none;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 8%) 0px 0px 0px 1px, rgb(0 0 0 / 18%) 0px 1px 2px;
  color: rgb(53, 53, 53);
  display: flex;
  justify-content: center;
  padding: 10px;
  white-space: nowrap;
  width: min-content;
}

div.map-pin.focus {
  background-color: steelblue;
  color: white;
  z-index: 999;
}
