.event-reel-container {
  min-width: 40vw;
  overflow-y: auto;
}

div.reel-newevent-view-controller {
  position: relative;
  width: 40vw;
}

div.reel-newevent-sliding-controller {
  transition: all 0.65s;
  position: relative;
  display: flex;
  height: calc(100vh - 45px);
  overflow: hidden;
  width: 120vw;
}

div.slider-form-container {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

div.slider-form-container h1,
div.slider-form-container h2,
div.slider-form-container h3,
div.slider-form-container h4,
div.slider-form-container h5,
div.slider-form-container h6
{
  margin: 0px;
}

form.slider-form {
  border-radius: 5px;
  position: relative;
  padding: 15px 50px;
  box-shadow: 0px 0px 5px darkgrey;
  width: 85%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.slider-form.new-event input {
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  font-size: xx-large;
  border: none;
  border-bottom: 1px solid darkgrey;
}

.slider-form.new-event input:focus {
  outline: none;
  box-shadow: 0px 0px 5px darkgrey;
}

div.input-subcontainer-holder {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

div.input-subcontainer-holder input {
  font-size: 1.5em;
}

div.input-subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 75px;
}

div.new-event-location-select {
  width: 100%;
  height: 40px;
  position: relative;
  border: none;
  color: white;
  font-weight: bolder;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

button.new-event-location-select {
  position: relative;
  right: -35px;
  width: 260px;
  height: 40px;
  padding: 10px;
  background-color: steelblue;
  border-radius: 5px;
  border: unset;
  color: inherit;
  font-weight: inherit;
}

button.new-event-location-select:focus, button.new-event-location-select:hover {
  outline: none;
  box-shadow: 0px 0px 5px darkgrey;
}

button.new-event-location-select:hover {
  cursor: pointer;
}

button.new-event-location-select:active {
  right: -34px;
  width: 258px;
  height: 38px;
}

div.loading-container {
  display: flex;
  width: 40vw;
  align-items: center;
  justify-content: center;
}

img.loading-spinner {
  height: 200px;
}

span.pin-limit-label-wrapper {
  font-size: 25px;
  white-space: normal;
  width: 250px;
}

div.new-event-submit-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.new-event-submit-container button {
  height: 50px;
  width: 150px;
  background-color: steelblue;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  font-size: larger;
}

button.new-event-submit:focus {
  outline: none
}

button.new-event-submit:focus, button.new-event-submit:hover {
  box-shadow: 0px 0px 8px darkgrey;
}

button.new-event-submit:active {
  height: 48px;
  width: 148px;
}

div.max-events-display-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: min-content;
  font-size: larger;
}

div.input-container.max-events input {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100px;
  border: none;
  border: 1px solid steelblue;
  text-align: right;
  font-size: larger;
  text-align: center;
}

div.input-container.max-events input:focus {
  outline: none;
  box-shadow: 0px 0px 5px steelblue;
}

div.input-container.max-events {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.max-pins-warning-container {
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  box-shadow: 0px 0px 5px darkgrey;
  position: absolute;
}

.max-pins-warning {
  color: red;
  font-size: 18px;
  width: 150px;
  white-space: normal;
}

form.slider-form.search-preferences {
  justify-content: space-around;
}

div.set-locale-display-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.set-locale-button {
  display: flex;
  align-items: center;
  background-color: steelblue;
  color: white;
  font-size: larger;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  white-space: normal;
  max-width: 300px;
  min-width: 300px;
  max-height: 55px;
  min-height: 55px;
}

button.set-locale-button:focus {
  outline: none;
}

button.set-locale-button:hover {
  box-shadow: 0px 0px 5px steelblue;
  cursor: pointer;
}

button.set-locale-button:active {
  min-width: 298px;
  max-width: 298px;
  min-height: 53px;
  max-height: 53px;
}

.saving-animation-container {
  display: flex;
  align-items: center;
  font-size: x-large;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

div.input-and-button-container {
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-and-button-container button {
  background-color: steelblue;
  color: white;
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  font-size: large;
}

.input-and-button-container button:focus {
  outline: none;
}

.input-and-button-container button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px steelblue;
}

button.slider-button.close-settings {
  position: absolute;
  background-color: unset;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75px;
  height: 30px;
  border-radius: 5px;
  color: red;
  font-size: medium;
  font-weight: bolder;
  top: 10px;
  left: 10px;
}

button.slider-button.close-settings:hover {
  cursor: pointer;
  color: white;
  background-color: red;
}

button.slider-button.close-settings:focus {
  outline: none;
}
