nav .searchbar-container {
  z-index: 999;
  display: flex;
  width: 500px;
  height: 50px;
  margin-right: 30px;
}

.searchbar-container ul {
  list-style: none;
  margin: 0px;
}

button.location-search-submit {
  width: 50px;
  font-size: xx-large;
  z-index: 999;
}

.searchbar-form {
  z-index: 999;
  flex-grow: 1;
  display: flex;
}

.searchbar-input {
  width: 450px;
  box-sizing: border-box;
  font-size: x-large;
  font-weight: bolder;
  z-index: 999;
}

.searchbar-input:focus {
  outline: none;
  background-color: rgb(230, 230, 230);
}

.searchbar-input::placeholder {
  text-align: center;
}


.search-prediction-container {
  width: 500px;
  padding: 0px;
  z-index: 998;
  box-sizing: border-box;
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.search-prediction {
  margin-left: 50px;
  background-color: white;
  flex-grow: 1;
  white-space: normal;
  font-size: larger;
  font-weight: bold;
  border-bottom: 2px solid darkgrey;
  border-left: 2px solid darkgrey;
  border-right: 2px solid darkgrey;
  padding: 5px;
}

.search-prediction:hover {
  background-color: lightblue;
  color: white;
  cursor: pointer;
}
